<div class="dashboard-container" dir="rtl">
  <div class="header">
    <h1 class="title">צבע בקליק מערכת ניהול מתקדמת</h1>
  </div>

  <div class="grid-container">
    <div class="option-card" (click)="navigateTo('categories')">
      <div class="card-header blue-gradient">
        <div class="icon">
          <mat-icon>category</mat-icon>
        </div>
      </div>
      <div class="card-content">
        <h2>ניהול קטגוריות</h2>
        <p>ניהול וארגון קטגוריות  במערכת</p>
      </div>
      <div class="color-drop blue-drop"></div>
    </div>

   
    <div class="option-card center-card" (click)="navigateTo('rangs')">
      <div class="card-header gray-gradient">
        <div class="icon">
          <mat-icon>leaderboard</mat-icon>
        </div>
      </div>
      <div class="card-content">
        <h2>ניהול ציורים וצפיה בדירוגים</h2>
        <p>ניהול וארגון ציורים במערכת ומעקב אחר הדירוגים</p>
      </div>
      <div class="color-drop gray-drop"></div>
    </div>
  </div>
</div>

